.text-b13{
    font-size: 13px;
    color: gray;
    line-height: 20px;
    max-height: 40px;
    font-weight: 400;
    margin-left: 60px;
}
.text-b3{
    font-size: 13px;
    color: gray;
    line-height: 20px;
    max-height: 40px;
    font-weight: 400;
    margin-left: 60px;
}
.text-b14{
    font-size: 16px;
    line-height: 20px;
    margin-left: 60px;
}
.text-b4{
    font-size: 16px;
    line-height: 20px;
    margin-left: 60px;
}
.text-b5{
    font-size: 13px;
    margin-left: 10px;
    
}
.text-b6{
    width:20px; height:20px; border-radius:50%;
}
.text-b7{
    width:20px; height:20px;
}
.text-b8{
    color:#F2F2F2;font-size:32px;
    width: 40px;
    top: -1px;
    margin-right: 16px;
    position: relative;
    letter-spacing: -0.014em;
    line-height: 38px;
    font-weight: 500;
    
}
.text-b9 {
    margin-top: 100px;
    font-size: 90px;
}
@media (max-width:1024px){
    .text-b9 {
        margin-top: 2px;
    }
}
@media (max-width:768px){
    .text-b9 {
        margin-top: 0px;
        
    }
    .text-b10{
        padding-bottom: 30px;
    }
}

@media (max-width:425px){
    .text-b9 {
        margin-top: 0px;
        
    }
    .text-b10{
        padding-bottom: 20px;
    }
}
@media (max-width:375px){
    .text-b9 {
        margin-top: 0px;
    }
}
@media (max-width:320px){
    .text-b9 {
        margin-top: 0px;
        font-size: 80px;
    }
}
.bg-color-letter{
    background-color:#FFC017 ;
}
