.portfolio-logo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    padding-left: 10px;
    padding-right: 10px;
}

.banner-section-bg-container {
    background-color: #191a1d;
    height: 100vh;
}

.banner-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 24px;
}

.banner-section-image {
    width: 280px;
    margin-bottom: 10px;
}

.person-name {
    color: #4b6cc1;
}

.custom-button {
    color: white;
    background-color: #4b6cc1;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}

.paragraph {
    color: #a020f0;
    font-family: cursive;

}

.food-munch-logo {
    width: 80px;
    height: 70px;
}

#navItem2 {
    color: black;
    font-family: "Roboto";
}

.heading {
    font-family: Georgia, serif;
    color: #a020f0;
    font-weight: 900;
    text-align: center;

}

.bg-color-portfolio {
    background-color: #323f4b;
}

.bg-1-color-portfolio {
    background-color: #1f2933;

}

.heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 25px;
}

.about-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
}

.image-porto {
    height: 400px;
    width: 94%;
    border-radius: 5px;
}

.details {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 17px;

    padding-right: 30px;
}

.card {
    background-color: #323f4b;
    border-width: 0px;
    height: 180px;
    width: 200px;
    border-radius: 10px;
}

.skill-image {
    height: 90px;
    width: 90px;
    padding-right: 8px;
}

.skill-name {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
}

.about-me-section {
    background-color: #323f4b;
}

.about-me-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.about-me-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 16px;
}

.about-me-section-image {
    width: 100%;
}

.skills-section {
    background-color: #1f2933;
}

.skills-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.skills-card {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 10px;
}

.skills-card-image {
    width: 64px;
    height: 64px;
}

.skills-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.projects-section {
    background-color: #3e4c59;
}

.projects-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.projects-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.projects-card {
    background-color: #323f4b;
    border-radius: 8px;
}

.projects-card-image {
    width: 100%;
}

.projects-card-sub-title {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.projects-card-title {
    color: #3e5cad;
    font-family: "cursive";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.projects-card-description {
    color: white;
    font-family: cursive;
    font-size: 20px;
}

.projects-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}